body {
    margin: 0;
    font-family: "Arial";
}

h3 {
    margin: 0;
}

h2 {
    margin: 0;
}

ul {
    padding: 0;
}

input { 
    border: none;    
}

textarea {
    border: none;    
}

.header {
    width: 100%;
    height: 323px;
    background-color: #445162;
}

.header-content {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.head {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    margin: 0;
    padding-top: 50px;
    line-height: 48px;
}

.product-1{
    background: #ffffff;
    width: 469px;
    height: 214px;
    float: right;
    background-size: contain;
    position: absolute;
    top: 50px;
    right: 50px;
}

.list {
    list-style-image: url(img/check_icon.png);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    margin: 40px 0 0 0;
    padding-left: 30px;
}


.desc {
    width: 1280px;
    height: 240px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    position: relative;

}
.head-2 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 30px;
}

.desc-text {
    width: 654px;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    line-height: 24px;
}

.product-2 {
    background: #445161;
    width: 430px;
    height: 245px;
    float: right;
    background-size: contain;
    position: absolute;
    top: 50px;
    right: 50px;
}

.desc-gap {
    margin-bottom: 16px;
}

.compare-container {
    width: 100%;
    background: #f5f5f5;
}

.compare {
    color: #445161;
    font-weight: 400;
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    padding: 48px 0;
}

.head-3 {
    text-align: center;
    line-height: 36px;
    font-size: 30px;
    font-weight: 400;
}

.points {
    width: 649px;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    line-height: 24px;
}

.points-item {
    width: 50%;
    box-sizing: border-box;
    padding: 36px 24px 0 0;
    display: flex;
}

.plus-icon {
    flex-basis: 32px;
    height: 32px;
    background: left 40% top 40% url(img/Layer_2.png) no-repeat #445161;
}

.points-text {
    flex-basis: calc(100% - 32px);
    margin-left: 8px;
}

.scrinshots-container {
    width: 100%;
}

.container {
    font-weight: 400;
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    padding: 48px 0;
}

.head-4 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.desc-image {
    display: flex;
    margin-top: 34px;
    flex-wrap: wrap;
}

.scrin {
    background: #445161;
    flex-basis: 200px;
    height: 150px;
    margin-right: 15px;
}

.head-5 {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: #445161;
}

.scrin-text {
    height: 108px;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 15px;
}

.points-2 {
    width: 50%;
    display: flex;
    box-sizing: border-box;
    padding: 30px 16px 0 0;
}

.scrinshot-desc {
    flex-basis: calc(100% - 215px);
}

.reviews-container {
    width: 100%;
    background: #f5f5f5;
}

.container {
    font-weight: 400;
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    padding: 48px 0;
}

.reviews {
    display: flex;
    margin-top: 35px;
    flex-wrap: wrap;
}

.photo {
    width: 75px;
    height: 75px;
    background-color: #445161;
    border-radius: 50px;
}

.review {
    width: 50%;
    display: flex;
    margin-top: 24px;
}


.background {
    background: url(img/bg_review.png);
    width: 483px;
    height: 121px;
    margin-left: 15px;
}

.text {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-style: italic;
    padding-left: 24px;
    padding-top: 16px;
}

.name {
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    padding-left: 24px;
    padding-top: 7px;
}

.buy-container {
    width: 100%;
}

.buy-content {
    font-weight: 400;
    height: 100%;
    margin: 0 145px;
    padding: 48px 0;
}

.blocks {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
}

.standart {
    height: 306px;
    border: 1px solid #445162;
    background-color: #445162;
    border-radius: 5px;
}

.head-standart { 
    height: 45px;
}

.head-5 {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.sum {
    color: #445162;
    font-size: 40px;
    background-color: white;
    width: 300px;
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-list {
    padding: 0 20px;
}

.list-blocks {
    list-style-type: none;
    color: white;
    font-size: 14px;
    line-height: 24px;
}

.button {
    width: 260px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    color: #445161;
    font-size: 18px;
}

.premium {
    height: 404px;
    border: 1px solid #445162;
    background-color: #445162;
    border-radius: 5px;
}

.lux {
    height: 499px;
    border: 1px solid #445162;
    background-color: #445162;
    border-radius: 5px;
}

.contacts-container {
    width: 100%;
    background: #445162;
}

.contacts-content {
    color: #445161;
    font-weight: 400;
    width: 1280px;
    height: 100%;
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-6 {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: white;
}

.contacts-blocks {
    display: flex;
    margin-top: 30px;
}

.contacts-input {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-1 {
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0 8px;
    box-sizing: border-box;
    margin-top: 20px;
}

.input-1::placeholder {
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.message {
    width: 100%;
    height: 170px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0 8px;
    box-sizing: border-box;
    margin-top: 20px;
}

.message::placeholder {
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.button-send {
    width: 140px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    color: #445162;
    font-size: 16px;
    margin-top: 20px;
}    

.contacts-socials {
    margin-left: 32px;
}

.contacts-list {
    padding-left: 32px;
}

.skype, .icq, .mail, .phone {
    margin-bottom: 12px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.skype {
    list-style-image: url(img/skype_icon.png);
}

.icq {
    list-style-image: url(img/icq_icon.png);
}

.mail {
    list-style-image: url(img/email_icon.png);
}

.phone {
    list-style-image: url(img/phone_icon.png);
}

.networks {
    background: url(img/social_buttons.png);
    width: 240px;
    height: 42px;
    margin-top: 32px;
}

.contacts-link {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 24px;
}

.footer {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #445162;
    font-size: 12px;
}